.board{
    border: solid black 5px;
}


.board td {
    text-align: center;
    width: 1.5em;
    height: 1.5em;
  }
  
  .msg {
    padding: 1em;
  }
  
  .msg.ok {
    color: white;
    background-color: green;
  }
  
  .msg.err {
    color: white;
    background-color: tomato;
  }
  