{% extends 'base.html' %} {% block content %}
<h1 class="text-center">Boggle board</h1>
<section id="boggle" class="container">
  <table class="board">
    <tbody>
      {% for row in board %}
      <tr>
        {% for cell in row%}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<p>High Score : <b>{{high_score}}</b> in {{nplays}} plays</p>
<p>Score : <b class="score">0</b> Seconds left : <b class="timer"></b></p>

<form method="POST" class="add-word">
  <input type="text" placeholder="" class="word" autofocus>
  <button>Enter</button>
</form>
<p class="msg">
  <!-- our JS will put messages here dynamically -->
</p>

<ul class="words">
  <!-- our JS will words here as they score -->   
</ul>

{% endblock %}
